<div class="container login-wrapper">
    <div class="row">
        <div class="col-md-7 col-sm-7 hidden-xs login-left"></div>
        <div class="col-sm-12 login-right">
            <div class="row">
                <h2 class="login-head-title">Integrated University Management System</h2>
                <div class="col-sm-3 col-xs-2 text-center branding"> <img src="../../../assets/images//brand-session.png" title="IUMS" alt="IUMS" height="92"></div>
                <div class="col-sm-9 col-xs-10">
                    <blockquote>
                        <p class="IUMS-title">IUMS <span>for</span></p>
                        <span class="IUMS-slogan">Ahsanullah University of Science and Technology (AUST)</span></blockquote>
                </div>
            </div>
            <div class="signInDiv">
                <div class="IUMS-sub-head">Pick a new password</div>
                <form id='passwordChangeForm' action='' method='post'>
                    <div class="contact-wrap">
                        <div class="error-msm" id="reset_password_msg" style="display:none"></div>
                        <div class="form-group">
                            <label  class="contact-label">New Password</label>
                            <input type="password" class="form-control" id="new_password" placeholder="Enter new password"/>
                        </div>
                        <div class="form-group">
                            <label class="contact-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_new_password" placeholder="Enter confirm new password"/>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn" id="btn_change_password" onclick="changePassword(); return false;"><span>Change Password</span></button>
                            <div class="btn loaderDiv" style="width: 210px;padding-left: 100px;">
                                <div class="loader">Loading...</div>
                            </div>
                        </div>

                        <div id="pswd_info" class="form-group" style="padding-top: 40px;clear: both;">
                            <p>Password must meet the following requirements:</p>
                            <ul>
                                <li id="smallLetter" class="invalid">At least <strong>one small letter</strong></li>
                                <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                                <li id="number" class="invalid">At least <strong>one number</strong></li>
                                <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div id="success-msg" style="display:none">
                <div class="IUMS-sub-head">Success!</div>
                <p>Your password has been changed successfully.</p>
                <div class="login-forgotpassword"><span id="loginRef"></span></div>
            </div>
            <p class="copy-right"><!--Your work account can be used anywhere you see this symbol. --><br/>
                <span class="newYear"></span> &copy; - Ahsanullah University of Science and Technology</p>
        </div>
    </div>
</div>
<input type="hidden" id="password_reset_token" />


<script type="text/javascript">
        $(".newYear").text((new Date).getFullYear());

        function manageDivs(div_name) {
            if (div_name == "fPassword") {

                $(".fPasswordDiv").show();
                $(".successdDiv").hide();
                $(".signInDiv").hide();
            }
            else {
                $(".fPasswordDiv").hide();
                $(".successdDiv").hide();
                $(".signInDiv").show();
            }

        }

        function fPassword() {
            $(".successdDiv").show();
            $(".fPasswordDiv").hide();


            $(".signInDiv").hide();
        }
        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split("&");
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        $("#password_reset_token").val(GetURLParameter("pr_token"));

        $(document).ready(function () {

            var totalValid = 0;
            $("#new_password").keyup(function () {

                // set password variable
                var pswd = $(this).val();
                totalValid = 0;
                //validate the length
                if (pswd.length < 8) {
                    $('#length').removeClass('valid').addClass('invalid');
                } else {
                    $('#length').removeClass('invalid').addClass('valid');
                    totalValid++;
                }

                //validate smallLetter
                if (pswd.match(/[a-z]/)) {
                    $('#smallLetter').removeClass('invalid').addClass('valid');
                    totalValid++;
                } else {
                    $('#smallLetter').removeClass('valid').addClass('invalid');

                }

                //validate uppercase letter
                if (pswd.match(/[A-Z]/)) {
                    $('#capital').removeClass('invalid').addClass('valid');
                    totalValid++;
                } else {
                    $('#capital').removeClass('valid').addClass('invalid');
                }

                //validate number
                if (pswd.match(/\d/)) {
                    $('#number').removeClass('invalid').addClass('valid');
                    totalValid++;
                } else {
                    $('#number').removeClass('valid').addClass('invalid');
                }
                if (totalValid == 4)
                    enableDisableButton("enable");
                else
                    enableDisableButton("disable");

            });

        });

        function enableDisableButton(op) {
            if (op == "enable") {
                $("#btn_change_password").removeClass("disabled");
                $("#btn_change_password").attr("disabled", false);
            }
            else {
                $("#btn_change_password").addClass("disabled");
                $("#btn_change_password").attr("disabled", true);
            }
        }
        enableDisableButton("disable");

    </script>