/* Whole page */
.modal-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);;
  backdrop-filter: blur(14px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* padding: 20px; */
}

.issue-card refined {
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  /* width: 60vw; */
  /* height: 20vh; */
  justify-content: center;
}

/* Close Button's div */
.issue-header {
  border: 5px solid black;
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 8px; */
  /* box-sizing: border-box; */
  justify-items: flex-end;
  position: relative;
  left: 17px;
  top: 11px;
}

.issue-body:not(:has(.comment-section)) + .issue-header {
  max-width: 10vw;
  /* flex-basis: 33%; */
  grid-template-columns: 1fr;
}

/* Contains issue details and comment section */
.issue-body {
  border: 5px solid green;
  background: white;
  height: 60vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  /* box-shadow: 5px 10px #DBDBDB; */
  box-shadow: 20px 20px 50px grey;
  /* box-sizing: ; */
  padding: 2vmax;
  overflow: hidden;
}

/* If comment-section exists → 2 columns */
.issue-body:has(.comment-section) {
  grid-template-columns: 1fr 1fr;
}

/* If no comment-section → just one column */
.issue-body:not(:has(.comment-section)) {
  width: auto; /* 30vw */
  height: auto; /* 30vh */
  grid-template-columns: 1fr;
}

.issue-details {
  border: 5px solid orange;
  padding-inline: 10px;
  padding-top: 10px;
}

.issue-body:has(.comment-section) .issue-details {
  
}

.border {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 60vh;
  background: rgba(200, 200, 200, 0.3);
  right: -9px;
}

.issue-body:not(:has(.comment-section)) .issue-details {
  justify-items: center;
  align-self: center;
  height: 30vh;
  width: 30vw;
}

.comment-section {
  border: 5px solid greenyellow;
  padding-inline: 10px;
  padding-top: 10px;
}