<div class="sesion-brand">
    <div class="container">
        <div class="row">
            <div class="logo"><img src="../../../assets/images/brand-session.png" title="IUMS" alt="IUMS" height="">
            </div>
        </div>
    </div>
</div>
<div class="container login-wrapper">
    <div class="row">
        <div class="session-wrapper text-center">
            <h4 class="title">Your Session Has Expired. <a href="javascript:void()" onclick="login()">Click here</a>
                to
                login again. </h4>
            <p class="session-con">You will be redirected back to the login page in <span id="countdown">(5)</span>
                seconds.</p>
            <div class="logo"><img src="../../../assets/images/clock-01.png" title="IUMS" alt="IUMS" height=""></div>
            <div class="session-copy-right"><span class="newYear"></span> &copy; - Ahsanullah University of Science
                and Technology
            </div>
        </div>
    </div>
</div>