/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0 !important;
  padding: 0 ;
  font-family: 'Segoe UI', sans-serif;
  background: #f2f4f8;
  overflow: hidden;
  font-size: 16px;
}
